In [1]:
import pandas as pd
import requests
import json
import sqlite3

### Functions for fetching file:

In [26]:
def fetch_json(url):
    response = requests.request("GET", url)
    try:
        print("Fetched JSON data successfully.")
        return response.json()
    except Exception as e: 
        print(f"Error processing the data from '{url}' : '{e}'")
        return None

def fetch_csv(csv_path):
    try:
        df_csv = pd.read_csv(csv_path)
        print("Fetched CSV file successfully.")
        return df_csv
    except FileNotFoundError: 
        print(f"Error: File '{csv_path}' not found.")
        return None

def display_summary(df, operation):
    print(f"{operation} - Number of records: {len(df)}, Number of columns: {len(df.columns)}")

### Functions for converting file from one format to another:

In [48]:
def csv_to_json(file_csv, csv_json=None):
    if csv_json is None:
        csv_json = "csv_json.json"
    try:
        file_csv.to_json(csv_json)
        print(f" File converted to JSON and saved to '{csv_json}'.") 
    except Exception as e:
        print(f"Error converting file to JSON: {e}")

def json_to_csv(file_json, json_csv=None):
    if json_csv is None:
        json_csv = "json_csv.csv"
    try:
        file_json.to_csv(json_csv, index = False)
        print(f" File converted to CSV and saved to '{json_csv}'.")
    except Exception as e:
        print(f"Error converting file to CSV: {e}")    

def csv_to_sql(file_csv, csv_sql=None):
    if csv_sql is None:
        cvs_sql = "csv_sql.sql"
    connection = None
    try:
        connection = sqlite3.connect('csv_file_sql.db')
        file_csv.to_sql(csv_sql, connection, index = False)
        print(f"File converted to SQL table '{csv_sql}'.")
    except Exception as e:
        print(f"Error converting file to SQL: {e}")
    finally:
        if connection:
            connection.close()

def json_to_sql(file_json, json_sql=None):
    if json_sql is None:
        json_sql = "json_sql.sql"
    connection = None
    try:
        connection = sqlite3.connect('json_file_sql.db')
        file_json.to_sql(json_sql, connection, index = False)
        print(f"File converted to SQL table '{json_sql}'.")
    except Exception as e:
        print(f"Error converting file to SQL: {e}")
    finally:
        if connection:
            connection.close()

### User input:

In [10]:
csv_path = input("Enter the path to the CSV file: ") #input the name of the csv file that is in the same folder as this notebook
# Transit_2019.csv

Enter the path to the CSV file:  Transit_2019.csv

In [12]:
url = input("Enter the JSON url: ") # enter the url for an api call
#  http://data.fixer.io/api/latest?access_key=3fd6b51e9e5d4eda48e450e8181447f6

Enter the JSON url:  http://data.fixer.io/api/latest?access_key=3fd6b51e9e5d4eda48e450e8181447f6

### Fetch files:

In [14]:
file_csv = fetch_csv(csv_path)

Fetched CSV file successfully.

In [17]:
file_json = pd.DataFrame(fetch_json(url))

Fetched JSON data successfully.

### Modifying the data:

In [20]:
#json:
display(file_json)

     success   timestamp base        date        rates
AED     True  1728945784  EUR  2024-10-14     4.006177
AFN     True  1728945784  EUR  2024-10-14    73.800185
ALL     True  1728945784  EUR  2024-10-14    98.649943
AMD     True  1728945784  EUR  2024-10-14   422.243848
ANG     True  1728945784  EUR  2024-10-14     1.966216
..       ...         ...  ...         ...          ...
YER     True  1728945784  EUR  2024-10-14   273.057247
ZAR     True  1728945784  EUR  2024-10-14    19.169534
ZMK     True  1728945784  EUR  2024-10-14  9817.626821
ZMW     True  1728945784  EUR  2024-10-14    28.827917
ZWL     True  1728945784  EUR  2024-10-14   351.205798

[171 rows x 5 columns]

In [28]:
if file_json is not None:
    display_summary(file_json, "Original JSON Data Summary") #show # of rows and columns of the raw data
    if 'timestamp' in file_json:
        del file_json['timestamp'] # remove column timestamp
    display_summary(file_json, "Post-processed JSON Data Summary") # show # of rows and columns after removing the column 
else:
    print("Failed to fetch JSON file.") # when the fetch_json function returns None

Original JSON Data Summary - Number of records: 171, Number of columns: 5
Post-processed JSON Data Summary - Number of records: 171, Number of columns: 4

In [30]:
#csv:
display(file_csv)

,TransitID,Stop,Route,Date_Time,Count,Fare,FareCategory,PaymentType,Latitude,Longitude
0,1,11091 - West Main Street at 8th Street NW (wes...,Trolley C,2019/12/04 17:31:00+00,1,0,Trolley Free Ride,Manual,38.0317,-78.4906
1,2,11091 - West Main Street at 8th Street NW (wes...,Trolley C,2019/12/04 18:16:00+00,1,0,Trolley Free Ride,Manual,38.0317,-78.4906
2,3,11091 - West Main Street at 8th Street NW (wes...,Trolley C,2019/12/05 13:01:00+00,1,0,Trolley Free Ride,Manual,38.0317,-78.4906
3,4,11091 - West Main Street at 8th Street NW (wes...,Trolley C,2019/12/05 15:15:00+00,1,0,Trolley Free Ride,Manual,38.0317,-78.4906
4,5,11091 - West Main Street at 8th Street NW (wes...,Trolley C,2019/12/05 16:46:00+00,1,0,Trolley Free Ride,Manual,38.0317,-78.4907
...,...,...,...,...,...,...,...,...,...,...
1757581,1761071,Please refer to the Latitude/Longitude for loc...,Trolley SUN2,2019/12/15 22:13:00+00,1,0,Trolley Free Ride,Manual,0.0000,0.0000
1757582,1761072,Please refer to the Latitude/Longitude for loc...,Trolley SUN2,2019/12/15 22:17:00+00,1,0,Trolley Free Ride,Manual,0.0000,0.0000
1757583,1761073,Please refer to the Latitude/Longitude for loc...,Trolley SUN2,2019/12/15 22:20:00+00,1,0,Trolley Free Ride,Manual,0.0000,0.0000
1757584,1761074,Please refer to the Latitude/Longitude for loc...,Trolley SUN2,2019/12/15 22:20:00+00,1,0,Trolley Free Ride,Manual,0.0000,0.0000
1757585,1761075,Please refer to the Latitude/Longitude for loc...,Trolley SUN2,2019/12/15 22:30:00+00,1,0,Trolley Free Ride,Manual,0.0000,0.0000

In [32]:
if file_csv is not None:
    display_summary(file_csv, "Original CSV Data Summary") #show # of rows and columns of the raw data
    file_csv.drop(columns = ['Latitude','Longitude'], inplace =True) #drop the columns latitude and longitude 
    display_summary(file_csv, "Post-processed CSV Data Summary") # show # of rows and columns after removing the two columns
else:
    print("Failed to fetch CSV file.") # when the fetch_csv function returns None

Original CSV Data Summary - Number of records: 1757586, Number of columns: 10
Post-processed CSV Data Summary - Number of records: 1757586, Number of columns: 8

### File conversion:

In [50]:
# for json:

# prompt the user to input the file format they'd like to convert to from json [csv or sql]
json_convert = input("Enter the format you would like to convert to [csv or sql]: ").lower()

# if csv
if json_convert == 'csv':
    json_csv = input("Enter the name of the ouput CSV file: ") or None
    json_to_csv(file_json,json_csv)

# if sql 
elif json_convert == 'sql':
    json_sql = input("Enter the name of the ouput SQL Table: ") or None
    json_to_sql(file_json, json_sql)

# anything other than csv or sql
else:
    print("Output file format not recognized.")

Enter the format you would like to convert to [csv or sql]:  csv
Enter the name of the ouput CSV file:

 File converted to CSV and saved to 'json_csv.csv'.

In [54]:
# for csv:

# prompt the user to input the file format they'd like to convert to from csv [json or sql]
csv_convert = input("Enter the format you would like to convert to [json or sql]").lower()

# if json
if csv_convert == 'json':
    csv_json = input("Enter the name of the ouput JSON file: ") or None
    csv_to_json(file_csv, csv_json)

# if sql
elif csv_convert == 'sql':
    csv_sql = input("Enter the name of the ouput SQL Table: ") or None
    csv_to_sql(file_csv, csv_sql)

# anything other than json or sql
else:
    print("Output file format not recognized.")

Enter the format you would like to convert to [json or sql] json
Enter the name of the ouput JSON file:

 File converted to JSON and saved to 'csv_json.json'.

### Reflection:

This project required integrating various data formats, handling APIs, and ensuring robust data processing. One of the primary challenges I encountered was successfully fetching data from APIs, specifically the need to manage authentication, such as API keys. I initially struggled with correctly formatting the API requests, including where to place the key in the headers or URL parameters. Understanding the specific requirements for each API I encountered was critical and required extensive reading of the documentation.

Another challenge I encountered was writing the correct functions to convert the file from one format to another. I made many trivial errors like writing the print statement of “Data fetched successfully” after the return statement which caused the file to be loaded while not displaying the print statement. This led me to incorrectly believe that the file was not fetched. It also took me quite a few tries to correctly pass on the parameter for the output file name argument in the various functions since I was trying to set it to default. 

Conversely, some aspects of the project were easier than I anticipated. Using Pandas for data manipulation made the process of transforming and analyzing data much simpler. Pandas provided functions to handle various data operations, such as creating a data frame from a file and directly converting that to another file format, which saved a significant amount of time. It made it straightforward to perform complex operations without extensive coding.

Furthermore, integrating error handling in the ETL process turned out to be simpler than I thought. Utilizing try-except blocks helped manage potential failures during data fetching or processing, allowing me to provide meaningful error messages and ensure that the pipeline remained robusThe utility of building an ETL pipeline like this extends far beyond this single project. Such a framework can be adapted for various data projects, whether they involve fetching real-time data from APIs, processing CSV files, or loading data into databases. This experience has highlighted the importance of having a flexible and reusable ETL structure, which can be applied to future data analysis projects, making it easier to handle different data sources and formats.t.